@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Urgent service</h3>

<address>
    Intrarea Mecanicilor,<br />
    Sector 6, Bucuresti, Romania<br />
    <abbr title="Phone">Telefon:</abbr>
    0766585821
</address>
